In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('TITANIC_full.csv', index_col = 0) # Downloading dataset
data

<b>Survived</b> - Выжил (0 = нет, 1 = да)<br>
<b>Pclass</b> - Класс билета(1-первый, 2-второй, 3-третий)<br>
<b>Name</b> -  Имя пассажира<br>
<b>Sex</b> - Пол человека male - муж., female - жен.<br>
<b>Age</b> - Возраст в годах <br>
<b>Sibsp</b> - количество сестер, братьев, жен, мужей на Титанике<br>
<b>Parch</b> - Количество родителей или детей на Титанике<br>
<b>Ticket</b> - Билет <br>
<b>Fare</b> - Цена Билета<br>
<b>Cabin</b> - номер каюты<br>
<b>Embarked</b> - Порт посадки (C-Cherbourg, Q-Queenstown, S - Southampton<br>

In [ ]:
data.isna().sum() # how many columns of values ​​from NAN

In [ ]:
data.Age.fillna(data.Age.mode()[0], inplace = True) # Fulling with mode
data.Cabin.fillna(data.Cabin.mode()[0], inplace = True)
data.Embarked.fillna(data.Embarked.mode()[0], inplace = True)

In [ ]:
target = data['Survived'] # Y 
data = data.drop('Survived', axis = 1) # X

In [ ]:
data.iloc[700]

In [ ]:
Me = [1.0, 'Mr. Mikhail Syropyatov', 'male', 25.0, 1, 0, 'PC 17758', 300.0, 'C62 C64', 'C'] # Creating myself

In [ ]:
data.loc[891] = Me # add myself to the end of the dataset
data.tail(5)

             Pclass                                      Name  ...    Cabin  Embarked
PassengerId                                                    ...
887             2.0                     Montvila, Rev. Juozas  ...  B96 B98         S
888             1.0              Graham, Miss. Margaret Edith  ...      B42         S
889             3.0  Johnston, Miss. Catherine Helen "Carrie"  ...  B96 B98         S
890             1.0                     Behr, Mr. Karl Howell  ...     C148         C
891             1.0                    Mr. Mikhail Syropyatov  ...  C62 C64         C

[5 rows x 10 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder #Encoder for str

le = LabelEncoder() # Initialization of Encoder

data['Sex'] = le.fit_transform(data['Sex']) # Encode of of columns where we can find str
data['Name'] = le.fit_transform(data['Name'])
data['Ticket'] = le.fit_transform(data['Ticket'])
data['Cabin'] = le.fit_transform(data['Cabin'])
data['Embarked'] = le.fit_transform(data['Embarked'])

In [ ]:
from sklearn.model_selection import train_test_split #import split of data set method

x_train, x_test, y_train, y_test = train_test_split(data, target, test_size = 0.2, random_state = 0)
# spliting train/test 80/20

In [ ]:
params ={ # for GridSerachCV
    'ccp_alpha' : 0.00001,
    'max_depth' : 1000,
    'criterion' : 'gini',
    'min_samples_split' : [1, 2]
}

In [ ]:
from sklearn.ensemble import RandomForestClassifier #importing model
#from sklearn.model_selection import GridSearchCV


RFC = RandomForestClassifier() #Init model

#GS = GridSearchCV(RFC, params, cv=5) можно использовать GridSearch для поиска лучших параметров,
# как он работает смотрите видеоурок.

In [ ]:
RFC.fit(x_train, y_train) # training our model
#GS.fit(x_train, y_train)

In [ ]:
#GS.best_params_ #best params

In [ ]:
#GS.best_score_ #best accuracy

0.8342164877376146

In [ ]:
from sklearn.metrics import accuracy_score #method for 

pred_RFC_train = RFC.predict(x_train) #prediction for train data
pred_RFC_test = RFC.predict(x_test) #prediction for test data

print('Правильность на обучающем наборе:', np.round(accuracy_score(y_train, pred_RFC_train), 2)) #Printing our acc score
print('Правильность на тестовом наборе:', np.round(accuracy_score(y_test, pred_RFC_test), 2)) #

Правильность на обучающем наборе: 1.0
Правильность на тестовом наборе: 0.87

In [ ]:
{el:0  for el in data} #new passanger

In [ ]:
Me = {'Age': 25.0, # looking mine encoded  params from last position of data
 'Cabin': 73.0,
 'Embarked': 0.0,
 'Fare': 300.0,
 'Name': 563.0,
 'Parch': 0.0,
 'Pclass': 1.0,
 'Sex': 1.0,
 'SibSp': 1.0,
 'Ticket': 610.0}

In [ ]:
Me = pd.DataFrame(data = [Me]) # creating DataFrame from dict

In [ ]:
prediction = RFC.predict(Me) # Prediction of surviving me, where 0 - not survived, 1 - survived
print(prediction)

[0]

<b>Ниже представлены другие модели</b>
<br>
и как они себя ведут<br>
<b>Below are other models</b>

In [ ]:
data.iloc[890] #

In [ ]:
from sklearn.tree import  DecisionTreeClassifier

DTC = DecisionTreeClassifier()

In [ ]:
DTC.fit(x_train, y_train)

In [ ]:
pred_DTC_train = DTC.predict(x_train)
pred_DTC_test = DTC.predict(x_test)

print('Правильность на обучающем наборе:', np.round(accuracy_score(y_train, pred_DTC_train), 2))
print('Правильность на тестовом наборе:', np.round(accuracy_score(y_test, pred_DTC_test), 2))

Правильность на обучающем наборе: 1.0
Правильность на тестовом наборе: 0.79

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

KNC = KNeighborsClassifier(leaf_size= 100, n_neighbors=2)

In [ ]:
KNC.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=100, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [ ]:
pred_KNC_train = KNC.predict(x_train)
pred_KNC_test = KNC.predict(x_test)

print('Правильность на обучающем наборе:', np.round(accuracy_score(y_train, pred_KNC_train), 2))
print('Правильность на тестовом наборе:', np.round(accuracy_score(y_test, pred_KNC_test), 2))

Правильность на обучающем наборе: 0.84
Правильность на тестовом наборе: 0.65

In [ ]:
from sklearn.linear_model import SGDClassifier

SGD = SGDClassifier(alpha=0.001,max_iter=15000)

In [ ]:
SGD.fit(x_train, y_train)

SGDClassifier(alpha=0.001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=15000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [ ]:
pred_SGD_train = SGD.predict(x_train)
pred_SGD_test = SGD.predict(x_test)

print('Правильность на обучающем наборе:', np.round(accuracy_score(y_train, pred_SGD_train), 2))
print('Правильность на тестовом наборе:', np.round(accuracy_score(y_test, pred_SGD_test), 2))

Правильность на обучающем наборе: 0.66
Правильность на тестовом наборе: 0.66